.checkout-background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 350px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.checkout-form select {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  